:root {
  --nav-bg-color: #e2136e;
  --fotter-bg-color: #1e1e1e;
  --mockup-bg: #fff1f7;
  --font-size-title: 32px;
  --font-size-body: 28px;
}
* {
  /* overflow-x: hidden;
  overflow: hidden; */
}
body {
  font-size: 16px;
  overflow-x: hidden;
}

.responsive-img {
  width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
}
.slider-view {
  z-index: 1;
}
.title {
  font-size: 1.6rem;
}
.body-text {
  font-size: 1rem;
}
.text-center {
  text-align: center;
}

.common-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.common-container-gap {
  margin: 20px 0;
}
.common-title-gap {
  margin: 20px 0px;
}
.color-primary {
  color: #e2136e;
}
.color-white {
  color: white;
}

.common-gap-grid {
  display: grid;
  gap: 20px;
}
.text-color-primary {
  color: #e2136e;
}
/* --nav-bg-color: #317874; */
/* --nav-bg-color: #e2136e; */
/* #E2D2F9 */

@media (min-width: 1280px) {
  .common-container {
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}
