* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.experinceMainContainer {
  display: grid;
  grid-template-areas:
    "one img two"
    "three img four";
  gap: 40px;
  width: 100%;
  place-items: center;
  text-align: left;
}

.experince__Box1 {
  grid-area: one;
}
.experince__Box2 {
  grid-area: two;
}
.experince__Box3 {
  grid-area: three;
}
.experince__Box4 {
  grid-area: four;
}

.experince__img-1 {
  grid-area: img;
}
.experince__img-2 {
  grid-area: img;
}

.experince-box-innerdiv-controller {
  display: flex;
  gap: 20px;
  /* grid-template-columns: 2fr 1fr; */
  place-items: center;
  box-sizing: border-box;
  /* padding: 20px; */
  margin: 10px 30px;
}

/* creating small circle for click indecator */
.circle-small {
  border-radius: 50%;
  width: 20px;
  height: 20px;

  background-color: red;
}
/* creating big circle for click indecator */
.circle-big {
  border-radius: 50%;
  width: 25px;
  height: 25px;

  background-color: red;
}

.experincetext {
  line-break: auto;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 2rem;
  box-sizing: border-box;
}
.common-container {
  box-sizing: border-box;
}
.circleParent {
  box-sizing: border-box;
  /* padding: 40px;
  margin: 0px 30px; */
}

.common-experince-img {
  padding: 0px 20px;
}

/* meedia quires */

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .common-container {
    width: 100%;
  }
  .experinceMainContainer {
    width: 100%;
    gap: 0;

    box-sizing: border-box;
  }
  .experinceImg-control {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
  .experinceMainContainer {
    grid-template-areas:
      "one img"
      "two img"
      "three img"
      "four img";
    place-items: inherit;
  }
  .experince-box-innerdiv-controller {
    gap: 5px;
    margin: 10px 0px;
    padding: 10px;
  }
  .title {
    font-size: 14px;
  }
  .experinceImg-control {
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .experince-box-innerdiv-controller {
    display: flex;
  }
  .title {
    font-size: 1rem;
  }
  .body-text {
    font-size: 0.9rem;
  }
  .image-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .experincetext {
    line-break: auto;

    line-height: 1.4rem;
    box-sizing: border-box;
  }
  .hiden {
    display: none;
  }

  /* creating small circle for click indecator */
  .circle-small {
    border-radius: 50%;
    width: 15px;
    height: 15px;

    background-color: red;
  }
  /* creating big circle for click indecator */
  .circle-big {
    border-radius: 50%;
    width: 19px;
    height: 19px;

    background-color: red;
  }
}
