.common-mockup {
  padding: 60px 20px;
  border-radius: 10px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 10px;
  text-align: center;
  place-items: center;
}
.common-mockup:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mockup-inner-continer {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.mockup-2nd-sec {
  width: 100%;
  background: linear-gradient(#ffeff6, #fff);

  padding: 20px;
}
.mockup-services {
  margin: 40px auto;
}
.styled-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.732);
  line-height: 0.1em;
  margin: 30px 20px;
}

.styled-text > span {
  background: #fff;
  padding: 0 10px;
}

.mockup-title {
  display: none;
}
/* meadia quires */

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .mockup-inner-continer {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .mockup-inner-continer img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 640px) {
  .mockup-inner-continer {
    grid-template-columns: repeat(2, 1fr);
  }
  .mockup-inner-continer img {
    width: 10;
    height: auto;
  }
  .styled-text {
    display: none;
  }
  .mockup-title {
    display: block;
  }
}
