* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.logo-img {
  width: 100px;
  height: auto;
}
.logo {
  font-size: 24px;
  color: white;
}

.nav-view {
  position: relative;
  z-index: 1000;
}
nav {
  display: flex;
  align-items: center;
  height: 8vh;

  background-color: var(--nav-bg-color);
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.navbar-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
}
.nav-link {
  display: flex;
  column-gap: 1.5rem;
}
.common-nav-link:hover {
  color: gold;
}
.common-nav-link > .active {
  color: blue;
}
.common-nav-link {
  color: white;
  text-decoration: none;
}
.btn-nav {
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  margin-right: 15px;
  padding: 8px 30px;
  background: var(--nav-bg-color);
}
.btn-nav:hover {
  background-color: white;
  color: var(--nav-bg-color);
}

.menu-icon {
  font-size: 35px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.menu-icon {
  display: none;
}
.menu-icon-text {
  font-weight: 400;
  font-size: 25px;
}
.lang-select {
  color: rgba(255, 255, 255, 0.762);
}

.lang-select-bold {
  color: white;
  font-weight: 700;
}
.nav-mobile-menu {
  position: absolute;
  right: 0;
  display: flex;
  border: 1px solid rgba(128, 128, 128, 0.495);
  border-top: none;
  flex-direction: column;
  background-color: rgba(242, 242, 242, 0.747);
  background-color: white;
  margin-top: -8vh;
  width: 250px;
  height: 100vh;
}

.menu-close {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 20px;
  justify-content: space-between;
}
.brand-f-letter {
  color: red;
  display: inline;
}
.nav-mobile-menu {
  transition: all 2s ease-in;
  display: none;
}

.mobile-menu-links-collection {
  margin-top: 50px;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.close-btn-slogan {
  display: flex;
  justify-content: space-between;
}
.mobile-menu-links {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}
hr.mobile-link-hr {
  margin-top: 10px;
  border: none;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.495);
}
.bkash-btn-mobile-menu {
  margin-top: 50px;
  align-self: center;
  background-color: inherit;
  border: 1px solid gray;
  padding: 5px 20px;
  border-radius: 15px;
}
.bkash-btn-mobile-menu:hover {
  background-color: #e2136e;
  color: white;
}





/* meadia quires */

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .nav-link {
    display: none;
  }
  .container {
    width: 85%;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
  }
  .menu-icon {
    display: flex;
  }

  .btn-nav {
    display: none;
  }
  .nav-mobile-menu {
    display: block;
  }
  .lang-select {
    display: none;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}
