.nearestPoint__MainContainer {
  display: grid;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
}
[class*="nearestPoint__MainContainer-box"] {
  text-align: center;
  padding: 30px 40px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
[class*="nearestPoint__MainContainer-box"]:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
[class*="nearestPoint__MainContainer-box"]:hover
  [class*="nearestPoint__MainContainer-box"]
  > h2 {
  color: red;
}
.nearestPointParent {
  width: 100%;
}

/* .nearest-img-responsive-control */

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  .nearest-img-responsive-control {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}
