.service-main-div {
  display: grid;

  place-content: center;
  gap: 20px;
}
a.service-links {
  text-decoration: none;
  width: min-content;
  color: black;
}
/* .swiper-slide {
  width: fit-content !important;
} */

.swiper-button-next {
  background-image: url(../img/reshot-icon-chevron-arrow-right-circle-C23LFHP5TK.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../img/reshot-icon-chevron-arrow-left-circle-XY6MSRE5DN.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
